h1 {
    color: blue;
}
h2 {
    color: brown;
    text-align: center;
}
.image {
    height: auto;
    width: auto;
    object-fit: contain;
text-align: center;
}
img {
    width: auto;
    height: 100px;
}
.quadrato {
    border: 2px solid red;
    height: 300px;
    width: 300px ;
    margin: 20px auto;
}